.about-container {
  padding: 4rem 1rem;
  color: #333;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}

.about-text {
  flex: 2;
  min-width: 300px;
  text-align: left;
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 1.2rem;
}

.about-image-container {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  max-width: 100%;
  width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  .about-text {
    text-align: center;
  }
}